/* Universal selector */
*{
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

/* Element selectors */
body {
    background-color: #323330;
}

h1 {
    display: inline-block;
    font-size: 56px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 50px;
    color: #323330;
}

h2 {
    color: white;
    font-size: 32px
}

p {
    font-size: 20px;
    font-weight: 400;
    color: white;

}

a {
    color: #323330;
    font-size: 24px;
    font-weight: 800;
    float: right;
    text-decoration: none;
    margin: 20px 220px 0px 20px;
    padding: 0px 5px 0px 5px;
    border: 2px solid #323330; 
    border-radius: 10px;
}

a:hover {
    background: #ffef85;
}

button {
    margin-top: 20px;
    border-radius: 8px;
    font-weight: 600;
    color: black;
}

textarea {
    width: 90%;
    margin: 20px;
}

label {
    margin-right: 10px;

}

input {
    margin-bottom: 10px;
    width: 50%;
    border: 1px solid black;
    height: 35px;
    padding-left: 10px; 
    color: black;
    font-size: 24px;
    background-color: #f0db4f;
    border-radius: 10px;
}

ul {
    list-style: none;
  }

li {
    padding: 2px;
    letter-spacing: 1px;
}

li:hover {
    background-color: #f0db4f;
    color: #323330;
    font-weight: 800;
    padding: 2px;
}

/* Class selectors */
.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #f0db4f;
    padding: 20px 0px 0px 10px;
    justify-content: center; 
    border-radius: 10px;
}

.header .brand p {
         font-size: 20px;
         font-weight: 800;
         color: #323330;
}

.header nav {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 400;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding-bottom: 10px
}

.header h1 .js {
    font-size: 52px;
    font-weight: 600;
    color: #881818;
}

.header img {
    border: 4px solid #323330;
    margin: 10px 15px 0px 80px;;

}

/* ID selectors */
#Submit {
    background-color: #f0db4f;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 800;
    color: #323330;
    margin-bottom: 10px;
}

#Submit:hover {
    background: #ffef85;
} 

#createDiv {
    margin-top: 10px;
    border-top: 1px solid lightgray;
}

#container {
    width: 500px;
    height: 500px;
    border: 4px solid #f0db4f; 
    background-color: #323330;
    border-radius: 10px;
    margin: 50px auto;
}

#container img {
    border: 4px solid #323330;
    margin: 0px 0px 20px 40px;
    border-radius: 10px;
}

#startTime {
    background-color: #f0db4f;
    margin-left: 33%;
    margin-bottom: 20px;
    padding: 15px 32px;
    color: #323330;
    font-size: 20px;
}

#startTime:hover {
    background: #ffef85;
} 

#questionsDiv {
    margin: 20px ;
    padding: 0px 10px 0px 10px;
    background-color: #323330;
    color: white;
    font-size: 20px;
}

#currentTime {
    float: right;
    color: white;
    font-size: 20px;
    padding: 20px;
}

#goBack {
    background-color: #f0db4f;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: #323330;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#goBack:hover {
    background: #ffef85;
} 

#clear {
    background-color: #f0db4f;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: #323330;
    top: 30%;
    right: 5%;
    text-align: center;
}

#clear:hover {
    background: #ffef85;
} 

/* Media queries */
@media screen and (min-width: 1990px) {
    .header, .container, .footer  {
    zoom: 2;
   }
}
        
@media screen and (max-width: 640px) {
        body {
      zoom: .5;
    }
}